html,
body {
	background-color: #222;
	color: green;
	overflow: hidden;
}
.svg {
	width: 100%;
	height: 100%;
	position: absolute;
	flex: 1;
	stroke: white;
	stroke-width: 1.5;
	stroke-dasharray: 2;
	animation: dash 5s linear infinite;
	stroke-linejoin: round;
	stroke-linecap: round;
	fill: none;
	filter: drop-shadow(0 0 0.5rem white);
}

@keyframes dash {
	to {
		stroke-dashoffset: -100;
	}
}
